-
    const universities = [{
        accordionId: 'accordionFlush0',
        accordionIdText: '#accordionFlush0',
        name: 'Carnegie Mellon University',
        logo: 'https://www.cmu.edu/brand/brand-guidelines/images/seal-4c-600x600-min.jpg',
        degree: 'Master of Science in Electrical & Computer Engineering',
        years: '2021-2022',
        courses: [
            {
                name: "Design Patterns for Smartphone Development"
            },
            {
                name: "Data Structures & Algorithms for Engineers"
            },
            {
                name: "Foundations of Software Engineering"
            },
            {
                name: "Software Architecture and Design"
            },
            {
                name: "Mathematical Foundations of Machine Learning"
            },
            {
                name: "Data, Inference & Applied Machine Learning"
            },
            {
                name: "Big Data Science"
            },
            {
                name: "Data Analytics"
            },
        ]
    },
        {
            accordionId: 'accordionFlush1',
            accordionIdText: '#accordionFlush1',
            name: 'University of Zimbabwe',
            logo: 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/University_of_Zimbabwe_LOGO.png/150px-University_of_Zimbabwe_LOGO.png',
            degree: 'Bachelor of Science in Electrical Engineering',
            years: '2015-2019',
            courses: [
                {
                    name: "Engineering Mathematics I & II"
                },
                {
                    name: "Computer Science for Engineers"
                },
                {
                    name: "Software Engineering"
                },
                {
                    name: "Microprocessor Fundamentals"
                },
                {
                    name: "Digital Electronics I & II"
                },
                {
                    name: "Control Systems I & II"
                },
                {
                    name: "Telecommunications I & II"
                }
            ]
        }];

h1(class='section-title-light') Education

div(class='row')
    each university in universities
        div(class="col-lg-6 col-md-12 mb-4")
            div(class="card text-center")
                div(class="row g-0")
                    div(class="col-12 text-center p-3")
                        img(src=university.logo, class="img-fluid rounded-start university-logo")
                    div(class="col-12")
                        div(class="card-body")
                            h5(class="card-title")= university.name
                            p(class="card-text")= university.degree
                            p(class="card-text")
                                small(class="text-muted")= university.years
                                div#accordionFlushExample(class="accordion accordion-flush")
                                    div(class="accordion-item")
                                        h2#flush-headingOne(class="accordion-header")
                                            button(class="accordion-button collapsed", type="button", data-bs-toggle="collapse", data-bs-target=university.accordionIdText, aria-expanded="false", aria-controls=university.accordionIdText) More Details
                                    div(id=university.accordionId, class="accordion-collapse collapse", aria-labelledby="flush-headingOne", data-bs-parent="accordionFlushExample")
                                        div(class="accordion-body")
                                            table(class="table table-hover table-striped")
                                                tr
                                                    th Courses
                                                each course in university.courses
                                                    tr
                                                        td= course.name


